NET a LOC = P80 | IOSTANDARD = LVCMOS33;
	NET b LOC = P81 | IOSTANDARD = LVCMOS33;
	NET c LOC = P82 | IOSTANDARD = LVCMOS33;
	NET d LOC = P83 | IOSTANDARD = LVCMOS33; 

NET y0 loc=p16 | IOSTANDARD = LVCMOS33; 
	NET y1 loc=p15 | IOSTANDARD = LVCMOS33; 
	NET y2 loc=p12 | IOSTANDARD = LVCMOS33; 
	NET y3 loc=p11 | IOSTANDARD = LVCMOS33; 
	NET y4 loc=p9 | IOSTANDARD = LVCMOS33; 
	NET y5 loc=p8 | IOSTANDARD = LVCMOS33; 
	NET y6 loc=p6 | IOSTANDARD = LVCMOS33;
	
